body {
    margin: 0;
}

fieldset legend, fieldset input, fieldset label {
    font-size:1.25rem;
}

div.words {
    margin-bottom:2rem;
}

div.fontSize {
    font-weight: bold;
    margin-top:2rem;
    margin-bottom:0.25rem;
}

#switch {
    font-size:1.25rem;
}

#main {
    width:100%;
    margin:0 auto;
    min-height:100px;
    background-color:lightgray;
}